[submodule "apps/newsletter-generator"]
	path = apps/newsletter-generator
	url = https://github.com/anandmuraleedharan/newsletter-generator.git
[submodule "apps/cogpoker"]
	path = apps/cogpoker
	url = ./apps/cogpoker
[submodule "apps/codeforge"]
	path = apps/codeforge
	url = https://github.com/anandmuraleedharan/codeforge.git
[submodule "apps/pdfforge"]
	path = apps/pdfforge
	url = ./apps/pdfforge
[submodule "apps/aileron"]
	path = apps/aileron
	url = ./apps/aileron

