[submodule "apps/newsletter-generator"]
	path = apps/newsletter-generator
	url = https://github.com/anandmuraleedharan/newsletter-generator.git
[submodule "apps/cogpoker"]
	path = apps/cogpoker
	url = https://github.com/anandmuraleedharan/cogpoker.git
[submodule "apps/codeforge"]
	path = apps/codeforge
	url = https://github.com/anandmuraleedharan/codeforge.git
[submodule "apps/pdfforge"]
	path = apps/pdfforge
	url = https://github.com/anandmuraleedharan/pdfforge.git
[submodule "apps/aileron"]
	path = apps/aileron
	url = https://github.com/anandmuraleedharan/aileron.git

[submodule "apps/lipi"]
	path = apps/lipi
	url = https://github.com/anandmuraleedharan/lipi.git

[submodule "apps/interviewforge"]
	path = apps/interviewforge
	url = https://github.com/anandmuraleedharan/interviewforge.git

[submodule "apps/pragmatic-ml"]
	path = apps/pragmatic-ml
	url = https://github.com/anandmuraleedharan/pragmatic-ml.git


